[Unit]
Description=Kando Haptic MX4 Service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=%i
ExecStart=/opt/haptic-kando/kando-haptic-mx4
Restart=always
RestartSec=3

TimeoutStopSec=10

[Install]
WantedBy=multi-user.target
